html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', "Arial", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.title-box {
  position: relative;
  min-height: 110px;
  padding: 0 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: $white;

  &__title {
    font-size: 30px;
  }
}

.button-style {
  padding: 5px 18px;
  border-radius: 50px;
  border: none;
  text-decoration: none;

  &:focus {
    @include focus-vio;
    border-radius: 50px;
  }
}

.profile {

  &__link {
    display: flex;
    align-items: center;
    transition: all 1s ease;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 23px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;

    &--drop-menu {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: $dark;
    transition: color 0.5s ease;

    &:hover {
      color: $red;
    }
    
    &--drop {
      margin-bottom: 15px;
    }
  }

  &__specs {
    transition: color 0.5s ease;

    &--notify {
      font-size: 15px;
      color: #747a86;
    }

    &:hover {
      color: $red;
    }
  }

  &__info &__name .lnr {
    display: inline;
  }
}


.input-form {
  position: relative;
  min-width: 360px;
}

.input-style {
  width: 100%;
  padding: 12px 90px 16px 23px;
  border: 1px solid #D9DFE5;
  border-radius: 30px;
  font-size: 15px;
  color: #898F96;

  &:focus {
    border: 1px solid $blue-li;
    background-color: rgba(6, 116, 236, 0.2);
    border-radius: 30px;
    outline: transparent;
  }

  &:active {
    @include active-black;
  }
}

.input-btn {
  position: absolute;
  padding: 16px 28px 15px;
  font-size: 0;
  border: none;
  border-radius: 30px;
  background-color: $blue-li;
  right: 0;
  cursor: pointer;
  transition: background-color 1s ease;

  &:hover {
    background-color: $violet;
  }

  &:focus {
    @include focus-vio;
    border-radius: 30px;
  }

  &:active {
    @include active-black;
  }
}

.cat-icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 2px;

  &--cart {
    top: 5px;
  }
}

.specs-likes,
.specs-sales {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 1s ease;

  &:hover {
    color: $red;
    text-shadow: 3px 1px 3px rgba(202, 150, 150, 1);
  }

  &:focus {
    @include focus-vio;
  }

  &:active {
    @include active-black;
  }
}

.mixitup-control-active {
  color: $white;
  background-color: $blue-li;
}

.box-styles {
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.product-card {
  max-width: calc(100% / 3 - 30px);
  height: 529px;
  background-color: $white;

  &__img {
    width: 100%;
    height: 230px;
    margin-bottom: 24px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__info-wrap {
    padding: 0 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  &__author,
  &__cat {
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 5px 0;

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__author-ava {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: -1px;
    left: 0;
  }

  &__author-name {
    display: inline-block;
    margin-left: 35px;
    margin-right: 15px;
    transition: color 1s ease;

    &:hover {
      color: $red;
    }
  }

  &__cat-name {
    margin-left: 25px;
    margin-right: 10px;
    transition: color 0.5s ease;

    &:hover {
      color: $red;
    }
  }

  &__price {
    display: inline-block;
    padding: 7px 18px;
    color: $blue-li;
    font-size: 15px;
    font-weight: 500;
    background-color: #E6F1FD;
  }
}

.link-info {
  padding: 13px 30px;
  border: 1px solid $white;
  color: $white;
}

.link-demo {
  padding: 13px 30px 13px 24px;
  border: 1px solid $white;
  color: $blue-li;
  background-color: $white;
}

.link-info,
.link-demo {
  font-size: 15px;
  font-weight: 500;
  transition: all 1s ease;

  &:hover {
    color: $white;
    background-color: $violet;
  }
}

.info-mask {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 230px;
    border-radius: 4px;
    background: rgb(104, 79, 187);
    background: linear-gradient(90deg, rgba(104, 79, 187, 1) 0%, rgba(5, 119, 226, 1) 100%);
    opacity: 0;
    z-index: 1;
    transition: all 1s ease;
  }

  &:hover {
    &::before {
      opacity: 0.9;
    }
  }
}

.product-text {
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  transition: all 1s ease;

  &:hover {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 5px;
    right: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $blue-li;
    right: 0;
  }
}

.specs-price,
.specs-likes {
  display: inline-block;
}

.specs-likes {
  margin-right: 5px;
}

.specs-sales {
  padding: 0;
  color: $blue-li;
}

.basket-icon {
  padding-right: 3px;
}

.specs-rating {
  display: inline-block;
}

.feed-slider {

  &__container {
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    width: calc(100% + 30px);
    height: 100%;
  }

  &__slide {
    flex-shrink: 0;
  }
}



.arrows {
  position: relative;

  &__arrow-prev,
  &__arrow-next {
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $vio;
    transition: background-color 1s ease;

    &:hover {
      background-color: $blue-li;
    }

    &:focus {
      @include focus-arrow;
    }

    &:active {
      @include active-black;
    }
  }

  &__arrow-prev {
    padding-right: 25px;
    padding-left: 30px;
    border-radius: 22px 0 0 22px;
  }

  &__arrow-next {
    padding-right: 30px;
    padding-left: 25px;
    border-radius: 0 22px 22px 0;
  }
}

.title-center {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  color: #000000;
}

.text-center {
  max-width: 700px;
  margin: 0 auto 55px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: $dark5;
}

.drop-menu {
  position: relative;

  &--status {
    height: 65px;
    margin-top: 40px;
    padding: 0 16px;
  }

  &__list,
  &__submenu-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__list {
    position: absolute;
    padding: 0 18px;
    height: 0;
    top: 50px;
    border-top: 0px solid $blue-li;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #FFFFFF;
    z-index: 1;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    overflow: hidden;

    &--triangle {
      &::before {
        @include triangle-drop;
        top: -10px;
        right: 28px;
      }      
    }

    &--triangle-notify {
      &::before {
        @include triangle-drop;
        left: 30px;
      }      
    }

    &--triangle-cart {
      &::before {
        @include triangle-drop;
        right: 43px;
      }      
    }

    &--triangle-message {
      &::before {
        @include triangle-drop;
        right: 30px;
      }      
    }

    &--message,
    &--notify,
    &--cart {
      min-width: 370px;
      top: 65px;
      right: -30px;
    }

    &--notify {
      right: auto;
      left: -15px;      
    }

    &--pages {
      padding: 0 28px;
      width: 1140px;
      height: 0;
      left: -450px;
    }

    &--cart {
      min-width: 400px;
      right: 0;
    }
  }


  &:hover .drop-menu__list {
    padding: 20px;
    height: auto;
    overflow: visible;
    border-width: 1px;

    &--message {
      padding: 0;
      right: -10px;
    }

    &--pages {
      padding: 30px 28px;
      width: 1140px;
      max-height: 610px;
      left: -450px;
    }

    &--cart {      
      padding: 0;
    }
  }

  &__item {
    font-size: 15px;
  }

  &__link {
    display: block;
    min-width: 230px;
    font-size: 15px;
    line-height: 42px;
    padding: 0 12px;
    letter-spacing: -0.01em;
    border-radius: 2px;
    color: $droplink;
    transition: all 1s ease;

    &:hover {
      color: $white;
      background-color: $blue-li;

      .lnr {
        color: $white;
      }
    }
  }

  &__submenu-item {
    display: flex;
  }

  &__submenu {
    &:nth-child(1) {
      width: 430px;
      margin-right: 45px;
    }

    &:nth-child(2) {
      width: 180px;
      margin-right: 25px;
    }

    &:nth-child(3) {
      width: 380px;

      .drop-menu__link {
        margin-right: 30px;
      }
    }

    & .drop-menu__link {
      min-width: 180px;
      padding: 0;
      margin: 0;
      margin-right: 55px;
    }
  }

  &__submenu-list {
    padding: 20px 0 40px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__submenu-title {
    font-size: 16px;
    font-weight: 500;
    padding: 0 8px 16px 0;
    border-bottom: 1px solid #e8ebf0;
  }

  &__bottom-link {
    position: absolute;
    color: $droplink;
    bottom: 32px;
    right: 45px;
    transition: color 1s ease;

    &:hover {
      color: $red;
    }
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
    padding: 23px 25px 15px;

    &--notify {
      padding: 2px 6px 25px 3px;
    }
  }

  &__title {
    font-size: 18px;
    color: #000000;
  }

  .lnr {
    transition: all 1s ease;
  }
  
  .lnr.lnr-envelope--active {
    color: $blue-li;
  }

  &__section {
    color: $dark5;
    padding: 15px 25px 17px;
    border-top: 1px solid #E8EBF0;
    transition: all 1s ease; 
    
    &:hover {
      background-color: $blue-li;
      color: $white;      

      .lnr.lnr-envelope {
        color: $white;
      }
    }

    &--notify {
      padding: 15px 20px 43px 4px;
      
      &:hover {
        .drop-menu__author-action,
        .drop-menu__place,
        .drop-menu__date-link {
          color: $white;
        }
      }

    }

    &--cart {
      display: flex;
      justify-content: space-between;
      padding: 20px 25px;
    }

    &--summ {
      padding: 25px;
      font-size: 18px;
      font-weight: 500;
      color: #000000;
      text-align: right;
      pointer-events: none;
    }

    &--links {
      display: flex;
      padding: 0;
    }
  }

  &__item-box {
    position: relative;
  }

  &__date-link {
    position: absolute;
    font-size: 14px;
    top: 20px;
    right: 25px;
    pointer-events: none;

    &--notify {
      top: auto;
      right: auto;
      bottom: 20px;
      left: 60px;
      font-size: 14px;
      color: #747a86;
    }
  }

  &__title-link {
    font-size: 15px;
    color: $blue-li;
    transition: all 1s ease;
    
    &:hover {
      color: $orange;
    }
  }

  &__author {
    &--product {
      font-size: 16px;
      line-height: 22px;
    }

    &--cart {
      margin-bottom: 9px;
    }
  }

  &__author.profile__name > .lnr {
    font-size: 15px;
    padding-left: 10px;
  }

  &__author-img {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
  }

  &__author-action {
    font-size: 15px;
    font-weight: 400;
    color: #747A86;
  }

  &__notify-img .lnr {
    position: absolute;
    font-size: 15px;
    padding: 9px;
    top: 30px;
    right: 5px;
    border-radius: 50%;

    &.lnr-heart {
      color: $blue-li;
      background-color: #e6f1fd;
    }
    &.lnr-bubble {
      color: #7347c1;
      background-color: #f1ecf9;
    }
    &.lnr-cart {
      color: #ff6a6c;
      background-color: #fff0f0;
    }
    &.lnr-star {
      color: #62d03a;
      background-color: #effaeb;
    }
  }
  
  &__place {
    color: $blue-li;
  }

  .drop-menu__list.drop-menu__list--notify {
    padding-bottom: 0px;
  }

  &__product-img {
    width: 80px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__cat {
    position: relative;
  }

  &__product-info {
    max-width: 180px;
  }
  &__button-remove {
    display: block;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
    background-color: #f1ecf9;
    margin-left: 24px;
    margin-bottom: 7px;
    transition: background-color 1s ease;
    cursor: pointer;

    &:hover {
      background-color: #F06262;
    }
  }

  &__cart-summ {
    margin-left: 30px;
  }

  &__cart-link,
  &__checkout-link {
    display: inline-block;
    width: 100%;
    padding: 22px;
    text-align: center;
    color: $white;
    transition: background-color 1s ease;

    &:hover {
      background-color: $orange;
    }
  }

  &__cart-link {
    background-color: #7347c1;
  }

  &__checkout-link {
    background-color: $blue-li;
  }

  &__details-price {
      padding: 7px 10px;
      margin-left: 20px;    
  }
}