.terms-conditions {
  padding: 60px 0 120px;

  &__inner {
    padding: 15px 35px 55px 30px;
    background-color: $white;

    @include r(640) {
      margin: 0 -15px;
    }
  }

  &__title {
    padding: 22px 0;
    font-size: 24px;
  }

  &__text {
    margin: 0 -35px 0 -30px;
    padding: 25px 30px 28px;
    border-top: 1px solid #E8EBF0;
  }
}