$white: #FFFFFF;
$dark: #333333;
$dark5: #555555;
$blue-li: #0674EC;
$vio: #7347C1;
$violet: #6600AA;
$red: #FF0000;
$orange: #FFA600;
$droplink: #54667A;

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin drop-status {  
  width: 100vw;
  min-width: auto;
  top: 67px;
}

@mixin gradient-head {  
  background-image: -webkit-linear-gradient(180deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);
}

@mixin focus-vio {
  box-shadow: 0 0 0 3px $vio;
  border-radius: 4px;
  outline: transparent;
}

@mixin focus-orange {
  box-shadow: 0 0 0 3px $orange;
  border-radius: 4px;
  outline: transparent;
}

@mixin focus-arrow {
  background-color: $orange;
  outline: transparent;
}

@mixin active-black {
  box-shadow: 1px 0px 25px -15px #000000 inset;
}

@mixin prod-text {
  margin-bottom: 28px;
  max-height: 90px;
  overflow: hidden;
}

@mixin prod-specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px 14px 30px;
  border-top: 1px solid #ECECEC;
}

@mixin text-shadow {
  text-shadow: 0px 0px 2px #000000;
}

@mixin triangle-drop {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #0675EC transparent;
}

@mixin scroll-style {

  &::-webkit-scrollbar {
    width: 5px;
    right: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $blue-li;
    right: 0;
  }
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content;
  }
}