@import 'fonts';
@import 'vars';
@import 'global';

// ---HEADER START

.header {
  &__menu-list {
    padding: 0;
    margin: 0;
  }

  &__top {
    min-height: 100px;
    padding-top: 24px;
    background-color: #EEF1F3;
  }

  &__top-inner,
  &__info,
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    margin-left: 7px;
    font-size: 0;

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__seller-link {
    margin-right: 49px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: $blue-li;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 1s ease;

    &:hover {
      background-color: $violet;
    }

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__status,
  &__profile-link,
  &__menu-link {
    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__profile-link {
    margin-left: 45px;

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__status {
    position: relative;
    border-radius: 50%;
    height: 20px;
    font-size: 0;

    &+& {
      margin-left: 32px;
    }

    &--message {
      height: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: -5px;
      width: 0;
      height: 5px;
      background-color: $violet;
      transition: width 1s ease;
    }

    &:hover::after {
      width: 30px;
    }
  }

  &__number {
    position: absolute;
    padding: 3px 8px;
    border-radius: 20px;
    top: -17px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $white;

    &--notify {
      padding: 3px 4px;
      left: 9px;
      top: -15px;
      background-color: #FF6A6C;
    }

    &--message {
      top: -13px;
      left: 9px;
      background-color: #62D03B;
    }

    &--cart {
      top: -15px;
      left: 12px;
      background-color: $blue-li;
    }
  }

  &__profile-funds {
    font-size: 15px;
    color: $blue-li;
  }

  &__bottom {
    min-height: 80px;
    background-color: $white;
  }

  &__bottom-inner {
    padding-top: 17px;
  }

  &__menu-link {
    text-transform: uppercase;
    color: $dark;
    transition: color 0.5s ease;

    &:hover {
      color: $blue-li;
    }
  }

  &__menu-item {
    display: inline-block;
    list-style: none;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 26px;
    letter-spacing: 0.02em;
    color: $dark;

    &:last-child {
      margin-right: 0;
    }
  }



  .lnr {
    font-size: 20px;
    color: #7E8FA1;
  }

  .lnr-envelope {
    display: block;
    padding-bottom: 6px;
  }

  .lnr-magnifier {
    font-size: 15px;
    color: $white;
  }
}


// ---HEADER END
// ---INFO START

.info {
  position: relative;
  min-height: 725px;
  padding-top: 170px;
  margin-bottom: 185px;
  color: #F3F3F8;
  text-align: center;
  background-color: #294DCF;

  &__title-box {
    margin-bottom: 34px;
    font-size: 60px;
    line-height: 70px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  &__title {
    &--name {
      font-weight: 700;
    }
  }

  &__text {
    margin-bottom: 87px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.007em;
  }

  &__links {
    margin-bottom: 235px;
    font-size: 16px;
  }

  &__link {
    padding: 17px 32px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &:focus {
      @include focus-orange;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }

    &--all {
      margin-right: 25px;
      background-color: $white;
      color: $blue-li;
      transition: all 1s ease;

      &:hover {
        color: $white;
        background-color: $violet;
      }
    }

    &--popular {
      border: 1px solid $white;
      color: $white;
      background-color: transparent;
      transition: background-color 1s ease;

      &:hover {
        background-color: $violet;
      }
    }
  }

  &__search-wrap {
    position: absolute;
    width: 100%;
    max-width: 1140px;
    padding: 0 0;
    bottom: -65px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__search {
    position: relative;
    width: 100%;
    display: flex;
    padding: 42px 40px 38px 40px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    background-color: $white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 30px);
      height: 13px;
      margin-left: 15px;
      top: -13px;
      left: 0;
      border-radius: 4px 4px 0 0;
      background-color: $white;
      opacity: 0.5;
    }

    &::after {
      width: calc(100% - 60px);
      height: 26px;
      margin-left: 30px;
      top: -26px;
    }
  }

  &__form-wrap {
    position: relative;
    width: 100%;
    margin-right: 30px;
  }

  &__search-form {
    width: 100%;
    padding: 15px 190px 20px 29px;
    border: 1px solid #DCDCDC;
    border-radius: 4px;

    &:focus {
      border: 1px solid $blue-li;
      background-color: rgba(6, 116, 236, 0.2);
      border-radius: 4px;
      outline: transparent;
    }

    &:active {
      @include active-black;
    }
  }

  &__search-btn {
    min-width: 225px;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    color: $white;
    border-radius: 4px;
    background-color: $blue-li;
    cursor: pointer;
    transition: background-color 1s ease;

    &:hover {
      background-color: $violet;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__search-filter {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-left: 1px solid #DCDCDC;
    font-size: 16px;
    border-radius: 0px 4px 4px 0px;
  }

  &__filter-list {
    width: 191px;
    border: none;
    padding: 17px 50px 20px 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__search-icon {
    position: absolute;
    top: 21px;
    right: 19px;
    font-size: 12px;
    color: #676767;
    pointer-events: none;
  }
}

// ---INFO START
// ---advantages START

.advantages {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 360px;
    padding: 42px 28px 44px;
    text-align: center;
    transition: box-shadow 1s ease;

    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__img {
    width: 113px;
    height: 112px;
    margin: 4px auto 0;
    margin-bottom: 35px;

    &--responsive {
      height: 120px;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }
}

// ---advantages end
// ---weekly-products start
.title-box {
  position: relative;
  min-height: 110px;
  padding: 0 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: $white;
}

.cat-icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 2px;
}

.specs-likes,
.specs-sales {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 1s ease;

  &:hover {
    border-radius: 4px;
    background-color: rgba(102, 0, 170, 0.4);
  }

  &:focus {
    @include focus-vio;
  }

  &:active {
    @include active-black;
  }
}

.weekly-products {
  padding: 120px 0;
  background-color: #EFF1F5;

  &__slider {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &__item {
    display: flex;
    align-items: center;
    min-width: 450px;
  }

  &__item-img {
    min-width: 555px;
    height: 450px;
    object-fit: contain;
  }

  &__item-info {
    height: 450px;
    padding: 47px 45px 23px 50px;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__item-details {
    max-height: 40px;
    padding-top: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__item-author,
  &__item-cat {
    margin-bottom: 10px;
  }

  &__item-author {
    color: #000000;
  }

  &__item-cat {
    color: $vio;
  }

  &__author-name {
    margin-left: 40px;
  }

  &__item-cat {
    position: relative;
    transition: color 0.5s ease;

    &:hover {
      color: $red;
    }
  }

  &__cat-icon {
    top: 7px;
  }

  &__item-text {
    height: 115px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  &__item-category {
    height: 70px;
    overflow: hidden;
  }

  &__category-link {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 18px;
    font-size: 15px;
    color: #868C96;
    background-color: #F1F3F6;
    overflow: hidden;
    transition: all 1s ease;

    &:hover {
      background-color: $violet;
      color: $white;
    }
  }

  &__item-specs {
    @include prod-specs;
    padding: 25px 0px 14px 0px;
  }

  &__specs-info {
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  &__specs-price {
    padding: 8px 20px;
    margin-right: 15px;
    font-weight: 500;
    color: $white;
    background-color: $blue-li;
  }

  &__number-likes {
    padding-left: 6px;
  }

  &__number-sales {
    padding-left: 3px;
  }

  &__specs-sales {
    margin: 0 17px 0 8px;
    color: $blue-li;
  }

  .lnr-heart,
  .weekly-products .lnr-cart {
    font-size: 15px;
  }

  .lnr-heart {
    color: $vio;
  }

  .lnr-heart,
  .weekly-products .lnr-cart {
    font-size: 15px;
  }

  .lnr-heart,
  .weekly-products .lnr-cart {
    font-size: 15px;
  }

  .lnr-heart {
    color: $vio;
  }

  .weekly-products .lnr-cart {
    color: $blue-li;
  }

  .lnr-chevron-left,
  .lnr-chevron-right {
    font-size: 15px;
    color: $white;
  }

  .swiper-button-prev {
    left: auto;
    right: 55px;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}



// ---weekly-products end
// ---newest-products start
.cat-name {
  margin-left: 25px;
  margin-right: 10px;
  transition: color 0.5s ease;

  &:hover {
    color: $red;
  }
}

.newest-products {
  padding: 120px 0;
  background-color: #F6F7FB;

  &__title-box {
    margin-bottom: 30px;
  }

  &__title {
    padding-top: 3px;
  }

  &__filter {
    position: relative;
    padding: 5px 0;
    padding-right: 29px;

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }

    &:hover .newest-products__filter-list {
      visibility: visible;
      opacity: 1;
    }
  }

  &__filter-list {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 25px;
    right: 0;
    box-shadow: 0px 4px 8px 0px rgba(108, 111, 115, 0.5);
    transition: all 1s ease;
  }

  &__filter-item {
    list-style: none;
    border-top: solid 1px $dark;

    &:last-child {
      border-bottom: 2px solid $blue-li;
    }
  }

  &__filter-link {
    display: block;
    padding: 10px 24px;
    background-color: $white;
    transition: all 1s ease;

    &:hover {
      background-color: $violet;
      color: $white;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__more-icon {
    position: absolute;
    top: 4px;
    right: 0px;
    width: 5px;
    height: 20px;
    background-image: url(../images/icons/more.png);
  }

  &__category-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 30px 30px 20px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &__category-button {
    padding: 8px 19px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #747B86;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      background-color: $violet;
      color: $white;
    }
  }

  &__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -30px;
  }

  &__item {
    margin-bottom: 30px;
    margin-right: 30px;
  }

  &__item-img {
    margin-bottom: 24px;
  }

  &__img-wrapper {
    position: relative;

    &:hover .newest-products__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;
    }

    &--demo {
      right: 42px;
    }
  }

  &__item-details {
    margin-bottom: 20px;
    max-height: 40px;
    padding: 7px 0;
    overflow: hidden;
  }

  &__item-author,
  &__item-cat {

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__item-author {
    color: #000000;
  }

  &__item-cat {
    color: $vio;
  }

  &__author-ava {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  &__author-name {

    &:hover {
      color: $red;
    }
  }

  &__item-cat {
    position: relative;
  }

  &__cat-icon {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 6px;
    background-repeat: no-repeat;

    &--psd {
      height: 18px;
    }
  }

  &__item-text {
    @include prod-text;
  }

  &__item-specs {
    @include prod-specs;
  }

  &__specs-price,
  &__specs-likes {
    display: inline-block;
  }

  &__specs-likes {
    margin-right: 5px;
  }

  &__specs-sales {
    padding: 0;
    color: $blue-li;
  }

  &__basket-icon {
    padding-right: 3px;
  }

  &__specs-rating {
    display: inline-block;
  }

  &__all-products {
    display: block;
    margin: 30px auto 0;
    padding: 19px 34px;
    font-size: 16px;
    color: $white;
    background-color: $blue-li;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      background-color: $violet;
      color: $white;
    }
  }
}

.mixitup-control-active {
  color: $white;
  background-color: $blue-li;
}


// ---newest-products end
// ---feed start

.feed-products {
  min-height: 930px;
  padding: 120px 0;
  background-color: #EFF1F5;

  &__img-wrapper {
    position: relative;

    &:hover .feed-products__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;
    }

    &--demo {
      right: 42px;
    }
  }

  &__item-details {
    margin-bottom: 20px;
    max-height: 40px;
    padding: 7px 0;
    overflow: hidden;
  }

  &__cat-icon {
    width: 15px;
    top: 5px;

    &--psd {
      width: 13px;
      height: 17px;
    }
  }

  &__cat-name--psd {
    margin-left: 20px;
  }

  &__item-text {
    @include prod-text;
  }

  &__item-specs {
    @include prod-specs;
  }

  &__specs-rating {
    display: inline-block;
  }

  &__arrow-prev {
    right: 55px;
    padding-right: 15px;
    padding-left: 25px;
  }

  &__arrow-next {
    right: 0;
    padding-right: 25px;
    padding-left: 15px;
  }

  &__arrow-prev,
  &__arrow-next {
    top: -22px;
    background-color: $blue-li;
    cursor: pointer;

    &:hover {
      background-color: $vio;
    }
  }

  .lnr-chevron-left,
  .lnr-chevron-right {
    font-size: 15px;
    color: $white;
  }
}

// ---feed end
// ---statistic start

.statistic {
  padding: 93px 0 88px;
  background-color: #212225;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
    transition: all 1s ease;

    &:hover {
      transform: scale(1.3);
    }

    &--total-sales {
      margin-left: 20px;
      margin-right: 10px;
    }
  }

  &__img {
    margin-bottom: 40px;
  }

  &__number {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  &__number--items-sale,
  .lnr-briefcase {
    color: #FEB71D;
  }

  &__number--total-sales,
  .lnr-cloud-download {
    color: #58C9E9;
  }

  &__number--customers,
  .lnr-smile {
    color: #77DE51;
  }

  &__number--members,
  .lnr-users {
    color: #FF6A6D;
  }

  &__title {
    font-size: 18px;
    line-height: 36px;
    color: $white;
  }

  .lnr-briefcase,
  .lnr-cloud-download,
  .lnr-smile,
  .lnr-users {
    font-size: 48px;
  }
}


// ---statistic end
// ---choose start

.choose {
  padding: 120px 0 90px;
  text-align: center;
  background-color: #FFFFFF;

  &__title {
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 28px;
  }

  &__title-name {
    color: $blue-li;
  }

  &__text {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }

  &__items-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -30px;
  }

  &__item {
    position: relative;
    width: calc(100% / 3 - 30px);
    min-height: 373px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 50px 30px 50px 32px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    transition: all 1s ease;

    &:hover {
      box-shadow: 0px 2px 50px 0px $blue-li;
    }
  }

  &__item-number {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 48px;
    font-weight: 300;
    color: #5C87F8;
    opacity: 0.3;
  }

  &__item-img {
    margin-bottom: 42px;
  }

  &__item-img .lnr {
    font-size: 60px;
  }

  &__item-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__item-text {
    height: 120px;
    overflow: hidden;
  }

  .lnr-license {
    color: $blue-li;
  }

  .lnr-magic-wand {
    color: #7F4EC2;
  }

  .lnr-lock {
    color: #77DE51;
  }

  .lnr-chart-bars {
    color: #FEB71D;
  }

  .lnr-leaf {
    color: #58C9E9;
  }

  .lnr-phone {
    color: #FF6A6D;
  }
}


// ---choose end
// ---action start

.actions {
  display: flex;
  text-align: center;
  color: $white;
  font-size: 16px;

  &__item {
    min-height: 560px;
    width: 100%;
    padding: 100px 0 30px;
    background-repeat: no-repeat;

    &--sell {
      background-position: right;
      margin-right: -3px;
      padding-right: 100px;
    }

    &--start {
      margin-left: -3px;
      padding-left: 100px;
    }

    &:hover .actions__item-img {
      transform: scale(1.2);
      fill: $orange;
    }
  }

  &__item-img {
    background-image: url(../images/icons/act-start.svg);
    display: inline-block;
    width: 120px;
    height: 100px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    transition: all 1s ease;

    &--start {
      margin-left: 40px;
    }

  }

  &__item-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__item-text {
    max-width: 590px;
    height: 90px;
    margin: 0 auto 30px;
    line-height: 30px;
    overflow: hidden;
  }

  &__item-link {
    padding: 17px 25px;
    color: $blue-li;
    background-color: $white;
    transition: all 1s ease;

    &--start {
      padding: 17px 40px;
    }

    &:hover {
      color: $white;
      background-color: $violet;
    }

    &--start:hover {
      color: $white;
      background-color: $blue-li;
    }

    &:focus {
      @include focus-orange;
      border-radius: 30px;
    }
  }
}

// ---action end
// ---feedback start

.feedback {
  font-size: 16px;
  padding: 115px 0 121px;
  color: $dark5;
  background-color: $white;
  text-align: center;

  &__title {
    &--blue {
      color: $blue-li;
    }
  }

  &__items {
    margin-bottom: 60px;
    text-align: left;
    display: flex;
    width: calc(100% + 30px);
    height: 100%;
  }

  &__slider {
    overflow: hidden;
    width: 100%;
  }

  &__item {
    position: relative;
    width: calc(50% - 15px);
    min-height: 314px;
    padding: 50px 40px 30px 38px;
    border-left: 2px solid $blue-li;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    flex-shrink: 0;
  }

  &__item-text {
    width: 480px;
    height: 120px;
    overflow: hidden;
  }

  &__profile-avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  .lnr-bubble {
    position: absolute;
    font-size: 60px;
    top: 50px;
    right: 40px;
    color: #e8e8e8;
  }

  &__profile-link {
    margin-right: 150px;
    display: flex;
    margin-bottom: 20px;

    &:focus {
      @include focus-vio;
      border-radius: 40px;
    }

    &:active {
      @include active-black;
      border-radius: 40px;
    }
  }

  &__profile-name {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
  }

  &__profile-specs {
    margin-bottom: 5px;
  }

  &__profile-name,
  &__profile-specs {
    max-width: 200px;
    max-height: 24px;
    overflow: hidden;
  }

  &__link {
    padding: 18px 35px;
    color: $white;
    background-color: $blue-li;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      background-color: $violet;
      color: $white;
    }

    &:focus {
      @include focus-vio;
      border-radius: 40px;
    }

    &:active {
      @include active-black;
    }
  }

  &__arrows {
    position: relative;
  }

  &__arrow-prev,
  &__arrow-next {
    position: absolute;
    top: 130px;
    border-radius: 50%;
    background-color: $white;
    padding: 15px;
    box-shadow: 0px 0px 5px 2px rgba(108, 111, 115, 0.2);
    z-index: 1;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      background-color: $blue-li;
      color: $white;
    }

    &:focus {
      @include focus-vio;
      border-radius: 50%;
    }

    &:active {
      @include active-black;
    }
  }

  &__arrow-prev {
    left: -22px;
  }

  &__arrow-next {
    right: -22px;
  }
}

// ---feedback end
// --latest-news start

.latest-news {
  padding: 112px 0 121px;
  background-color: #EFF1F5;

  &__title {
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: calc(100% / 3 - 19px);
    position: relative;
    height: 475px;
  }

  &__item-img {
    margin-bottom: 23px;
  }

  &__item-wrapper {
    height: 130px;
    margin-bottom: 30px;
    padding-right: 23px;
    padding-left: 29px;
    overflow: hidden;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 27px;
  }

  &__item-specs {
    height: 60px;
    font-size: 15px;
    color: #999999;
  }

  &__img-wrapper {
    position: relative;

    &:hover .latest-news__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;
    }

    &--demo {
      right: 42px;
    }
  }

  &__item-specs {
    @include prod-specs;
    padding: 0 30px;
  }

  &__date,
  &__info {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-left: 1px solid #ECECEC;
  }

  .lnr-clock {
    color: $blue-li;
    margin-right: 8px;
  }

  &__info-comments,
  &__info-visits {
    color: #999999;
    transition: all 1s ease;

    &:hover {
      color: $blue-li;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__info-comments {
    margin-right: 34px;
  }
}

// --latest-news end
// --service start

.service {
  background-color: #FFFFFF;
  padding: 63px 0 62px;

  &__inner {
    display: flex;
  }

  &__item {
    width: 100%;
    text-align: center;

    &--guarantee {
      padding-right: 45px;
    }

    &--support {
      padding-right: 20px;
    }

    &:hover .service__item-img {
      transform: scale(1.3);
    }
  }

  &__item-img {
    width: 150px;
    height: 120px;
    margin: 0 auto 25px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 2s ease;
  }

  &__item-title {
    font-size: 24px;
    color: #000000;

    &--guarantee {
      color: $blue-li;
    }

    &--support {
      color: $vio;
    }
  }
}

// --service end
// --join start

.join {
  text-align: center;
  background: -webkit-linear-gradient(180deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);

  &__inner {
    width: 100%;
    padding: 101px 0 130px;
  }

  &__title,
  &__text {
    color: $white;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 63px;
  }

  &__link {
    padding: 18px 42px;
    color: $blue-li;
    background-color: $white;
  }

}

// --join end
// --footer start

.footer {
  font-size: 15px;
  line-height: 28px;
  background-color: #262B30;
  color: #ABABAB;

  &__link,
  &__logo-link,
  &__info-link,
  &__bottom-link,
  &__socials-link {
    color: #ABABAB;
    transition: color 0.5s ease;

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 32px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 495px;
    padding: 115px 0 0;
    margin-bottom: 30px;
    overflow: hidden;
  }

  &__title {
    margin-top: 10px;
    font-size: 18px;
    color: $white;
    margin-bottom: 25px;
    letter-spacing: 0.04em;
  }

  &__info {
    max-width: 280px;
  }

  &__logo-link {
    display: block;
    width: 163px;
    height: 40px;
    margin-bottom: 25px;
    font-size: 0;
  }

  &__info-text {
    margin-bottom: 18px;
  }

  &__phone,
  &__mail {
    margin-bottom: 6px;
  }

  &__adress {
    display: flex;
    align-items: center;
  }

  &__adress {

    .lnr-map-marker,
    .footer__info-link {
      display: block;
    }
  }

  .lnr {
    padding-right: 10px;
  }

  .lnr-map-marker {
    margin-right: 3px;
  }


  &__company,
  &__support {
    width: 220px;
    padding-left: 40px;
  }

  &__support {
    padding-left: 44px;
  }


  &__newsteller {
    max-width: 362px;
  }

  &__newsteller-text {
    margin-bottom: 32px;
  }

  &__submit {
    margin-bottom: 49px;
  }

  &__submit-form {
    padding: 15px 115px 16px 28px;
    border: none;

    &::placeholder {
      color: #ABABAB;
    }

    &:focus {
      border: none;
      background-color: rgba(6, 116, 236, 0.2);
      border-radius: 30px;
      outline: transparent;
    }
  }

  &__submit-btn {
    padding: 16px 32px 15px 30px;
    font-size: 15px;
    color: $white;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
  }

  &__socials-link {
    display: block;
    width: 42px;
    height: 42px;
    padding-top: 8px;
    margin-right: 13px;
    border-radius: 50%;
    text-align: center;
    color: $white;
    background-size: cover;
    background-position: center;

    &:focus,
    &:active {
      border-radius: 50%;
    }

    &--facebook {
      background-color: #395799;
    }

    &--twitter {
      background-color: #19B2F5;
    }

    &--google {
      background-color: #F05B44;
    }

    &--pinterest {
      background-color: #9C0C1C;
    }

    &--linkedin {
      background-color: #0DA6Be;
    }

    &--dribbble {
      background-color: #eA4C89;
    }
  }

  &__bottom {
    padding: 30px 0;
    background-color: #192027;
    text-align: center;
  }

  &__bottom-link {
    color: $white;
  }
}

// --footer end