.single-product {
  padding: 70px 0 120px;

  &__inner {
    display: flex;

    @include r(1024) {
      flex-direction: column-reverse;
    }

    @include r(768) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__content {
    max-width: 750px;
    margin-right: 30px;

    @include r(1024) {
      max-width: none;
      margin-right: 0;
    }
  }

  &__item {
    margin-bottom: 30px;
    background-color: #FBFBFB;
  }

  &__item-img {
    display: block;
    height: 430px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }

  &__info {
    padding: 0 30px;
  }

  &__item-links {
    padding: 30px 0;
    text-align: center;
  }

  &__item-link,
  &__item-btn {
    display: inline-block;
    width: 190px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;

    @include r(768) {
      display: block;
      margin: 0 auto;
    }

    &:hover {
      color: $white;
      background-color: $vio;
    }

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__item-link {
    margin-right: 30px;
    background-color: $blue-li;
    color: $white;

    @include r(768) {
      margin-right: auto;
      margin-bottom: 15px;
    }
  }

  &__item-btn {
    position: relative;
    background-color: $white;
    color: $vio;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &--share {
      font-weight: 400;
      margin-right: 14px;
      margin-left: 22px;
      padding: 17px 38px 17px 47px;
      color: #000000;

      @include r(768) {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        top: 16px;
        left: 13px;
        background-image: url(../images/icons/share.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__item-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 26px;
    border-top: 1px solid #e8e8e8;

    @include r(768) {
      flex-direction: column;
    }
  }

  &__social-link {
    line-height: 28px;
    transition: color 0.5s ease;

    @include r(768) {
      width: auto;
    }

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__info-box {
    background-color: $white;
    border-radius: 0 0 4px 4px;
  }

  &__info-nav {
    display: flex;
    margin-bottom: 75px;

    @include r(768) {
      flex-wrap: wrap;
    }
  }

  &__info-btn {
    display: inline-block;
    position: relative;
    padding: 25px 30px;
    text-align: left;
    font-size: 17px;
    background-color: transparent;
    border-width: 0 0 1px 0;    
    border-style: solid;
    border-color: #E8E8E8;
    cursor: pointer;
    transition: color 0.5s ease;

    @include r(768) {
      display: block;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      border-left: none;
    }
    

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }

    &+& {
      border-left-width: 1px;
    }

    &:last-child {
      flex: 1;
    }

    &.active {
      border-bottom: none;
      border-top: 3px solid $blue-li;
      color: $blue-li;

      @include r(768) {
        color: $white;
        background-color: $blue-li;
      }
    }

    &--comments {
      padding-right: 65px;

      @include r(768) {
        padding-right: 0;
      }
    }
  }

  &__btn-number {
    position: absolute;
    font-weight: 500;
    right: 30px;
  }

  &__info-content {
    padding: 0 36px 80px 30px;
  }

  &__info-title {
    font-size: 28px;
    margin-bottom: 29px;

    &--list {
      letter-spacing: -0.07em;
      margin-bottom: 18px;
    }
  }

  &__info-text {
    @include list-reset;
    margin-bottom: 60px;

    &--number {
      counter-reset: myCounter;
    }
  }

  &__info-string {
    position: relative;
    line-height: 34px;
    padding-left: 30px;

    &--check {
      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 12px;
        top: 12px;
        left: 0;
        background-image: url(../images/icons/check-list.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--number {
      list-style: none;

      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) ".";
        position: absolute;
        left: 0;
        display: inline-block;
        font-weight: 500;
      }
    }
  }

  &__info-img {
    display: block;
    width: 100%;
    height: 1000px;
    max-width: 690px;
    margin-top: 34px;

    @include r(768) {
      width: 100%;
      height: 100%; 
    }
  }

  .tab-item {
    display: none;

    &:first-child {
      display: block;
    }
  }
}