.feed-products {
  min-height: 930px;
  padding: 120px 0;
  background-color: #EFF1F5;

  &__img-wrapper {
    position: relative;

    &:hover .feed-products__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;
    }

    &--demo {
      right: 42px;
    }
  }

  &__item-details {
    margin-bottom: 20px;
    max-height: 40px;
    padding: 7px 0;
    overflow: hidden;
  }

  &__cat-icon {
    width: 15px;
    top: 5px;

    &--psd {
      width: 13px;
      height: 17px;
    }
  }

  &__cat-name--psd {
    margin-left: 20px;
  }

  &__item-text {
    @include prod-text;
  }

  &__item-specs {
    @include prod-specs;
  }

  &__specs-rating {
    display: inline-block;
  }

  &__arrow-prev {
    right: 55px;
    padding-right: 15px;
    padding-left: 25px;
  }

  &__arrow-next {
    right: 0;
    padding-right: 25px;
    padding-left: 15px;
  }

  &__arrow-prev,
  &__arrow-next {
    top: -22px;
    background-color: $blue-li;
    cursor: pointer;

    &:hover {
      background-color: $vio;
    }
  }

  .lnr-chevron-left,
  .lnr-chevron-right {
    font-size: 15px;
    color: $white;
  }
}