.feed-products {
  min-height: 930px;
  padding: 120px 0;
  background-color: #EFF1F5;

  @include r(640) {
    min-height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__img-wrapper {
    position: relative;

    &:hover .feed-products__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;

      @include r(420) {
        left: 20px;
      }
    }

    &--demo {
      right: 42px;

      @include r(420) {
        right: 17px;
        left: auto;
      }
    }
  }

  &__item-wrapper {
    @include r(1200) {
      max-height: 300px;
      overflow: hidden;
      margin-bottom: 80px;
    }
  }

  &__item {
    @include r(1200) {
      height: auto;
      position: relative;
      max-width: calc(100% / 2 - 30px);
    }

    @include r(640) {
      max-width: calc(100% - 30px);
    }

    @include r(480) {
      height: auto;
    }
  }

  &__title-box {
    @include r(640) {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__item-details {
    margin-bottom: 20px;
    max-height: 40px;
    padding: 7px 0;
    overflow: hidden;
  }

  &__cat-icon {
    width: 15px;
    top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__cat-name--psd {
    margin-left: 20px;
  }

  &__item-text {
    @include prod-text;

    @include r(1200) {
      height: auto;
      max-height: 150px;
    }

    @include r(480) {
      height: 120px;
      max-height: none;
    }
  }

  &__item-specs {
    @include prod-specs;

    @include r(1200) {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    @include r(480) {
      flex-direction: column;
    }
  }

  &__specs-rating {
    display: inline-block;
  }

  &__specs-info {
    @include r(480) {
      margin-bottom: 15px;
    }
  }

  &__arrows {
    @include r(640) {
      display: none;
    }
  }

  &__arrow-prev {
    right: 55px;
    padding-right: 15px;
    padding-left: 25px;
  }

  &__arrow-next {
    right: 0;
    padding-right: 25px;
    padding-left: 15px;
  }

  &__arrow-prev,
  &__arrow-next {
    top: -22px;
    background-color: $blue-li;
    cursor: pointer;

    &:hover {
      background-color: $vio;
    }
  }

  .lnr-chevron-left,
  .lnr-chevron-right {
    font-size: 15px;
    color: $white;
  }
}