.feed-products {
  min-height: 930px;
  padding: 120px 0;
  background-color: #EFF1F5;

  &__img-wrapper {
    position: relative;

    &:hover .feed-products__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;
    }

    &--demo {
      right: 42px;
    }
  }

  &__item-details {
    margin-bottom: 20px;
    max-height: 40px;
    padding: 7px 0;
    overflow: hidden;
  }

  &__cat-icon {
    width: 15px;
    top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__cat-name--psd {
    margin-left: 20px;
  }

  &__item-text {
    @include prod-text;
  }

  &__item-specs {
    @include prod-specs;
  }

  &__specs-rating {
    display: inline-block;
  }

  &__arrow-prev {
    right: 55px;
    padding-right: 15px;
    padding-left: 25px;
  }

  &__arrow-next {
    right: 0;
    padding-right: 25px;
    padding-left: 15px;
  }

  &__arrow-prev,
  &__arrow-next {
    top: -22px;
    background-color: $blue-li;
    cursor: pointer;

    &:hover {
      background-color: $vio;
    }
  }

  .lnr-chevron-left,
  .lnr-chevron-right {
    font-size: 15px;
    color: $white;
  }
}


@media (max-width: 1200px) {
  .feed-products {
    &__item {
      max-width: calc(100% / 2 - 30px);
    }

    &__item-text {
      height: 90px;
    }
  }
}


@media (max-width: 840px) {
  .feed-products {
    min-height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    &__item {
      max-width: calc(100% - 30px);
    }
  }
}

@media (max-width: 640px) {
  .feed-products {

    &__title-box {
      margin-bottom: 30px;
      text-align: center;
    }

    &__arrows {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .feed-products {

    &__item {
      height: auto;
    }

    &__item-specs {
      flex-direction: column;
    }

    &__specs-info {
      margin-bottom: 15px;
    }

    &__item-text {
      height: 120px;
      max-height: none;
    }
  }
}

@media (max-width: 420px) {
  .feed-products {
    &__link {

      &--info {
        left: 20px;
      }

      &--demo {
        right: 17px;
        left: auto;
      }
    }
  }
}