.footer {
  font-size: 15px;
  line-height: 28px;
  background-color: #262B30;
  color: #ABABAB;

  &__link,
  &__logo-link,
  &__info-link,
  &__bottom-link {
    color: #ABABAB;
    transition: color 0.5s ease;

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 32px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 115px 0 53px;
    margin-bottom: 40px;
  }

  &__title {
    margin-top: 10px;
    font-size: 18px;
    color: $white;
    margin-bottom: 25px;
    letter-spacing: 0.04em;
  }

  &__info,
  &__company,
  &__support,
  &__newsteller {
    margin-bottom: 10px;
  }

  &__info {
    max-width: 280px;
  }

  &__logo-link {
    display: block;
    width: 163px;
    height: 40px;
    margin-bottom: 25px;
    font-size: 0;
  }

  &__info-text {
    margin-bottom: 18px;
  }

  &__address-wrapper {
    font-style: normal;
  }

  &__phone,
  &__mail {
    margin-bottom: 6px;
  }

  &__info-link {
    display: flex;
    align-items: center;
  }

  .lnr {
    padding-right: 13px;
  }

  .lnr-envelope {
    padding-right: 15px;
    padding-bottom: 10px;
  }

  &__company,
  &__support {
    width: 220px;
    padding-left: 40px;
  }

  &__support {
    padding-left: 44px;
  }


  &__newsteller {
    max-width: 362px;
  }

  &__newsteller-text {
    margin-bottom: 32px;
  }

  &__submit {
    margin-bottom: 49px;
  }

  &__submit-form {
    padding: 15px 115px 16px 28px;
    border: none;

    &::placeholder {
      color: #ABABAB;
    }

    &:focus {
      border: none;
      background-color: rgba(6, 116, 236, 0.2);
      border-radius: 30px;
      outline: transparent;
    }
  }

  &__submit-btn {
    padding: 16px 32px 15px 30px;
    font-size: 15px;
    color: $white;
  }

  &__bottom {
    padding: 20px;
    text-align: center;
    background-color: #192027;
  }
}

@media (max-width: 1366px) {
  .footer {

    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__newsteller {
      max-width: 362px;
      margin-left: 15px;
    }
  }
}

@media (max-width: 768px) {
  .footer {

    &__logo-link {
      margin: 0 auto 25px;
    }

    &__info {
      max-width: 520px;
    }

    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__newsteller {
      max-width: 362px;
      margin-left: 15px;
    }
  }
}

@media (max-width: 768px) {
  .footer {

    &__inner {
      padding-top: 50px;
      margin-bottom: 0;
    }

    &__newsteller {
      margin-left: 0;
    }

    &__submit {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 640px) {
  .footer {
    &__inner {
      justify-content: center;
    }

    &__company,
    &__support {
      padding-left: 0;
    }

    &__title {
      text-align: center;
    }

    &__bottom {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}