.single-sidebar {

    @include r(1024) {
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }  

  &__sidebar-box {
    position: relative;
    background-color: $white;
    margin-bottom: 30px;
    padding-bottom: 35px;

    @include r(1024) {
      min-width: calc(100% / 4);
      padding-bottom: 0;
    }

    @include r(768) {
      min-width: 100%;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    
    &:hover {

      & .single-sidebar__box-content,
      & .single-sidebar__wrapper-info {
        max-height: 1000px;
        overflow: visible;
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &__wrapper-info {

    @include r(1024) {
      position: absolute;
      max-height: 0;
      top: 93px;
      padding-top: 15px;
      padding-bottom: 15px;
      overflow: hidden;
      opacity: 0;
      background-color: $white;
      z-index: 2;
      width: 40vw;      
      transition: max-height 1s, opacity 0.5s;
      -webkit-box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.75);

      
      @include r(768) {
        display: none;
        position: static;
        width: 100vw;
        max-height: 1000px;
        overflow: visible;
        opacity: 1;
        z-index: 2;
      }

      &--author {
        right: 0;
      }
    }
  }

  &__purchase-choose {
    position: relative;
  }

  &__purchase-title {
    padding: 31px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: $white;
    background-color: $blue-li;
    border-radius: 4px 4px 0 0;

    @include r(1024) {
      padding: 25px;
    }
  }

  &__purchase-currency {
    font-size: 18px;
  }

  &__box-content {
    padding: 16px 30px 4px;
    transition: max-height 1s, opacity 0.5s;

    @include r(1024) {
      background-color: $white;
      position: absolute;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      z-index: 2;
      width: 40vw;
      padding: 16px 30px 20px;
      -webkit-box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.75);

      
      @include r(768) {
        position: static;
        width: 100vw;
        max-height: 1000px;
        overflow: visible;
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &__purchase-label {
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 133px;

    &--multi {
      width: 100%;
      margin-bottom: 0;
      border-top: 1px solid #ECECEC;
    }
  }

  &__purchase-details {
    position: absolute;
    display: block;
    max-height: 125px;
    padding-left: 36px;
    padding-top: 4px;
    top: 50px;
    overflow: auto;
  }

  &__purchase-link,
  &__purchase-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 19px;
    color: $white;
    cursor: pointer;
    z-index: 20;

    transition: color 0.5s ease;

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__purchase-link {
    background-color: $blue-li;
    margin-bottom: 30px;
    margin-top: 19px;
  }

  &__purchase-btn {
    background-color: $vio;

    .lnr-cart {
      padding-right: 9px;
    }
  }

  &__specs {
    position: relative;
    padding: 29px 0;
    margin: 0 30px;
    border-bottom: 1px solid #ECECEC;

    &--rating {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      padding-bottom: 0;
      border-bottom: none;
    }

    .lnr-cart {
      color: $blue-li;
    }

    .lnr-heart {
      color: $vio;
    }

    .lnr-bubble {
      color: #79D4ED;
    }
  }

  &__specs-number {
    position: absolute;
    top: 34px;
    right: 0;
    font-weight: 500;
    color: $dark;
  }

  &__rating-nubmer {
    margin-left: 4px;
    font-size: 15px;
  }

  &__sidebar-title {
    padding: 35px 30px;
    margin: 0 30px 30px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #ECECEC;

    @include r(1024) {
      height: 93px;
      border-bottom: none;
      margin-bottom: 0;
      margin: 0;
    }

    @include r(768) {
      background-color: #ECECEC;
      border-bottom: 1px solid $blue-li;
    }

    &--info {
      margin-bottom: 10px;

      @include r(1024) {
        margin-bottom: 0;
        margin: 0;
      }
    }

    &--author {
      padding-bottom: 15px;
      margin-bottom: 22px;

      @include r(1024) {
        margin-bottom: 0;
        max-height: 93px;
      }
    }
  }

  &__info-spec {
    position: relative;
    padding-left: 165px;
    padding-right: 30px;
    line-height: 36px;
    color: $dark5;

    &--tags {
      line-height: 27px;
      letter-spacing: -0.03em;
      margin-top: 6px;
    }
  }

  &__info-name {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 15px;
    font-weight: 500;
    color: $dark;
  }

  &__info-tags {
    color: &blue-li;

    transition: all 0.5s ease;

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }
  }

  &__author-socials {
    margin-right: -13px;

    @include r(768) {
      margin: 0 auto;
    }
  }

  &__author-ava {
    margin: 0 auto 20px;
  }

  &__author-name,
  &__author-date {
    text-align: center;
  }

  &__author-ava {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__author-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__author-date {
    margin-bottom: 30px;
    font-size: 15px;
    color: #7E7E7E;
  }

  &__author-socials {
    justify-content: center;
    line-height: 25px;
    margin-bottom: 30px;
  }

  &__author-links {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    justify-content: center;
    padding: 0 30px;
  }

  &__author-link {
    display: inline-block;
    min-width: 140px;
    padding: 14px;
    text-align: center;
    color: $white;
    margin-bottom: 12px;
    margin-right: 15px;

    transition: all 0.5s ease;

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-orange;
      border-radius: 30px;
    }

    &:active {
      @include active-black;
    }

    &--profile {
      background-color: $blue-li;
    }

    &--message {
      background-color: $vio;
    }
  }
}
