.category-products {

  &__range-title {
    margin-bottom: 12px;
  }

  &__range-btn {
    display: block;
    margin: 0 auto;
    margin-top: 78px;
    padding: 13px 35px;
    color: $white;
    font-size: 15px;
    font-weight: 500;
    background-color: $blue-li;
    transition: all 1s;
    cursor: pointer;

    @include r(1024) {
      padding: 13px 15px;
    }

    &:hover {
      background-color: $vio;
    }

    @include r(1024) {
      margin-bottom: 25px;
    }
  }


  .irs-min,
  .irs-max,
  .irs-single {
    display: none;
  }

  .irs--flat {

    .irs-line,
    .irs-bar {
      height: 6px;
    }

    .irs-line {
      background-color: #EFEDF3;
    }

    .irs-bar {
      background-color: #7347C1;
    }

    .irs-handle {
      top: 19px;
      width: 18px;
      height: 18px;
      border: 4px solid $blue-li;
      border-radius: 50%;
      background-color: $white;
    }

    .irs-handle>i:first-child {
      display: none;
    }

    .irs-from,
    .irs-to {
      visibility: visible !important;
      top: 59px;
      color: #7347C1;
      font-size: 15px;
      padding: 6px 25px;
      border-radius: 50px;
      border: none;
      text-decoration: none;
      background-color: #F1ECF9;
    }

    .to,
    .from {
      transition: border-color 1s;
      cursor: pointer;

      &:hover {
        border-color: $orange;
      }

      &:focus {
        @include focus-vio;
      }

      &:active {
        @include active-black;
      }
    }

    .irs-from {
      left: 0 !important;
      right: auto !important;
    }

    .irs-to {
      right: 0 !important;
      left: auto !important;
    }

    .irs-from:before,
    .irs-to:before {
      display: none;
    }
  }

  &__inner {
    display: flex;
    padding-bottom: 120px;

    @include r(1024) {
      flex-direction: column;
    }
  }

  &__filters-btn {
    display: none;
    text-align: center;
    padding: 20px 0;
    color: $white;
    background-color: $blue-li;
    transition: color 1s;

    @include r(1024) {
      display: block;
    }

    .fa-filter {
      padding-right: 5px;
    }

    &:hover {
      color: $orange;
    }
  }

  &__sidebar {
    min-width: 260px;
    margin-right: 30px;

    @include r(1024) {
      min-width: 230px;
    }

    @include r(1024) {
      display: none;
      max-width: none;
      width: 100%;
    }
  }

  &__categories-title,
  &__filter-title,
  &__range-title {
    padding: 28px 26px 32px;

    @include r(1024) {
      margin-bottom: 0;
      padding: 15px 0;
      border-bottom: 1px solid $blue-li;
      background-color: #D4E3FF;
      cursor: pointer;

      .lnr-chevron-down {
        top: 22px;
        right: 32px;
      }

    }
  }

  &__filter-item {

    @include r(1024) {
      padding: 15px 0;
    }

    &+& {
      margin-top: 18px;
    }
  }

  &__categories-item,
  &__filter-item {

    @include r(1024) {
      padding-left: 0;
      border-bottom: 1px solid $blue-li;

      &+& {
        margin-top: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  &__categories-number {

    @include r(1024) {
      right: 30px;
      top: 15px;
    }
  }

  &__categories-list,
  &__filter-list {
    padding-top: 28px;
    border-top: 1px solid #E7EBEE;
  }


  &__categories-list,
  &__filter-list,
  &__range-form {
    padding: 28px 26px 32px;

    @include r(1024) {
      display: none;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 2s ease;
    }
  }

  &__range-form {
    padding-left: 8px;

    @include r(1024) {
      padding: 0 15px;
    }
  }

  &__categories-link,
  &__filter-link {

    @include r(1024) {
      display: block;
      padding: 15px 0;
      padding-left: 0;
    }
  }

  &__label {
    transition: all 1s;
    cursor: pointer;

    @include r(1024) {
      padding: 15px 0;
    }

    &:hover {
      color: $orange;
      text-shadow: 0px 0px 6px rgba(150, 150, 150, 1);
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__categories-box,
  &__filter-box,
  &__range {
    padding: 0;

    @include r(1024) {
      padding: 0;
      margin-bottom: 0;
      text-align: center;

      &:hover {

        .category-products__categories-list,
        .category-products__filter-list,
        .category-products__range-form {
          max-height: 1000px;
        }
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -30px;

    @include r(1024) {
      padding-left: 30px;
      margin-top: 30px;
    }

    @include r(540) {
      padding-left: 15px;
      margin-top: 15px;
      margin-right: 0;
    }
  }

  &__item {
    max-width: none;
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    height: fit-content;
    transition: all 0.5s ease;

    @include r(1024) {
      width: calc(100% / 2 - 30px);
    }

    @include r(540) {
      width: calc(100% - 15px);
      margin-right: 15px;
      margin-bottom: 15px;
    }

    &--list {
      max-height: 210px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      @include r(640) {
        width: calc(100% / 2 - 30px);
        max-height: none;
        flex-direction: column;
        align-items: center;
      }

      @include r(540) {
        width: calc(100% - 15px);
      }

      &:nth-child(6) {
        margin-bottom: 51px;
      }

      &:nth-child(n + 7) {
        display: none;
      }

      .category-products {
        &__img-wrapper {
          display: none;

          &::before {
            height: 210px;
          }

          &--list {
            display: block;
          }
        }

        &__link {

          &--info,
          &--demo {
            max-width: 131px;
            right: 0;
            left: 0;
            margin: 0 auto;
            text-align: center;
          }

          &--info {
            top: 50px;
          }

          &--demo {
            top: 120px;
          }
        }

        &__item-title,
        &__item-details,
        &__specs-top,
        &__specs-bottom {
          display: none;
        }

        &__info-box,
        &__author-box,
        &__specs-box {
          display: inline-block;
          margin: 25px 0;

          @include r(640) {
            min-width: 100%;
            padding: 20px;
          }
        }

        &__info-box {
          max-width: 246px;
          margin-left: 4px;

          @include r(1366) {
            margin-top: 15px;
            margin-bottom: 15px;
          }

          @include r(640) {
            margin: 0 0 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #EFEDF3;
          }
        }

        &__author-box {
          max-width: 150px;
          margin-top: 43px;

          @include r(1366) {
            margin-left: 15px;
          }

          @include r(640) {
            min-width: 100%;
            margin: 0;
            margin-bottom: 15px;
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid #EFEDF3;
          }
        }

        &__specs-box {
          min-width: 155px;
          padding: 0px 32px 0 23px;
          margin-left: 18px;
          text-align: center;
          border-left: 1px solid #ECECEC;


          @include r(1366) {
            min-width: 130px;
            padding: 0;
            margin-right: 0;
            margin-left: 20px;
          }

          @include r(640) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            margin-bottom: 15px;
            border-left: none;
          }
        }

        &__item-img {
          &--list {
            width: 230px;
            height: 210px;
            max-height: none;

            @include r(1024) {
              display: block;
              width: 100%;
            }
          }
        }

        &__info-title {
          max-height: 48px;
          padding-right: 20px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 13px;
          overflow: auto;
          @include scroll-style;

          @include r(1366) {
            padding-right: 0;
          }
        }

        &__item-cat {
          padding-left: 8px;
        }

        &__info-text {
          max-height: 60px;
          padding-left: 5px;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 10px;
          overflow: auto;
          @include scroll-style;

          @include r(1366) {
            max-height: 85px;
          }
        }

        &__item-author {
          margin-bottom: 24px;
        }

        &__author-loves,
        &__author-comments {
          margin-bottom: 10px;
          font-size: 15px;
          color: #7F4EC2;

          @include r(640) {
            display: block;
            margin: 0 auto 10px;
          }
        }

        &__author-comments {
          margin-bottom: 12px;
        }

        &__number-loves,
        &__number-comments {
          color: #6f7d8d;
        }

        &__rating {
          padding: 0;
          margin: 0;
        }

        &__rating-wraper {
          position: relative;
          margin-left: 3px;

          @include r(1024) {
            margin: 0;
          }
        }

        &__rating-list {

          @include r(640) {
            margin: 0 auto;
          }
        }

        &__rating-number {
          position: absolute;
          font-size: 15px;
          color: #6F7D8D;
          top: -2px;
          left: 107px;

          @include r(640) {
            left: 0;
            right: 0;
            margin-left: 140px;
          }
        }

        &__specs-price,
        &__specs-sales {
          display: block;
          margin: 0 auto;
        }

        &__specs-price {
          margin-top: 43px;
          margin-bottom: 27px;
          overflow: hidden;

          @include r(1366) {
            max-width: 100px;
          }

          @include r(640) {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__img-wrapper {
    margin-bottom: 11px;

    &--list {
      display: none;

      @include r(640) {
        width: 100%;
      }
    }

    &::before {
      height: 100%;
    }
  }

  &__link {

    &--info,
    &--demo {
      max-width: 131px;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;
    }

    &--info {
      top: 30px;
    }
  }

  &__info-box,
  &__author-box,
  &__specs-box {
    display: none;
  }


  &__item-img {
    max-height: 160px;
    margin-bottom: 0;
  }

  &__item-title {
    height: 48px;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 24px;
    overflow: auto;
    @include scroll-style;

    @include r(1024) {
      height: auto;
    }
  }

  &__item-details {
    margin-bottom: 20px;
  }

  &__item-title,
  &__item-details {
    padding: 0 20px;
  }

  &__item-wrapper,
  &__specs-top,
  &__specs-bottom {
    padding: 0 20px;
  }

  &__specs-top {
    padding-bottom: 12px;
    border-bottom: 1px solid #ECECEC;
  }

  &__specs-top,
  &__specs-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__specs-bottom {
    padding: 15px 9px;
  }

  &__rating,
  &__rating-list {
    padding: 0;
    margin: 0;
    z-index: 0;
  }

  &__specs-price {
    margin-left: 15px;
  }

  &__cat-icon {
    top: 7px;
  }

  &__cat-name {
    margin-left: 21px;
  }
}