.filters {
  padding: 25px 0;
  margin-bottom: 81px;
  background-color: $white;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

  @include r(768) {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(1024) {
      flex-direction: column;
    }
  }

  &__sorts {
    font-size: 14px;
    color: #747b86;

    @include r(768) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__sorts-price,
  &__sorts-items {

    &:hover {
      background-color: #DFE6FF;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    } 
  }
  &__sorts-wrap {
    display: inline-block;
    position: relative;
    margin-right: 26px;

    @include r(768) {
      margin-bottom: 15px;
      margin-right: 0;
    }
    
    &::before {
      content: "\e874";
      font-size: 10px;      
      font-family: 'Linearicons-Free';
      color: $dark5;
      position: absolute; 
      right: 20px;
      top: 20px;
    }
  }
  
  &__sorts-view {
    display: inline-block;
  }

  &__btn,
  &__view-btn,
  &__sorts-price,
  &__sorts-items,
  &__btn-path {    
    transition: all 1s ease;
    cursor: pointer;
  }

  &__buttons {
    @include r(1024) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    padding: 0;
    margin: 0;
    margin-right: 33px;
    border: none;
    font-size: 16px;
    color: $dark5;
    background-color: transparent;

    &:last-child {
      @include r(768) {
        margin-right: 0;
      }
    }

    &--active {
      color: $blue-li;
    }

    &:hover {
      color: $orange;
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    } 
  }

  &__view-btn {
    background-color: transparent;
    border: none;
    padding: 0;

    & + & {
      margin-left: 11px;
    }
    
    &:hover .filters__btn-path {   
      fill: $orange;    
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }   
  }
  &__btn-svg {
    margin-bottom: -3px;
    width: 20px;
    height: 20px;
  }
  &__btn-path {
    fill: #747B86;

    &--active {
      fill: $blue-li;
    }
  }
}

