.latest-news {
  padding: 112px 0 121px;
  background-color: #EFF1F5;

  &__title {
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: calc(100% / 3 - 19px);
    position: relative;
    height: 475px;
  }

  &__item-img {
    margin-bottom: 23px;
  }

  &__item-wrapper {
    height: 130px;
    margin-bottom: 30px;
    padding-right: 23px;
    padding-left: 29px;
    overflow: hidden;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 27px;
  }

  &__item-specs {
    height: 60px;
    font-size: 15px;
    color: #999999;
  }

  &__img-wrapper {
    position: relative;

    &:hover .latest-news__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    &--info {
      left: 45px;
    }

    &--demo {
      right: 42px;
    }
  }

  &__item-specs {
    @include prod-specs;
    padding: 0 30px;
  }

  &__date,
  &__info {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-left: 1px solid #ECECEC;
  }

  .lnr-clock {
    color: $blue-li;
    margin-right: 8px;
  }

  &__info-comments,
  &__info-visits {
    color: #999999;
    transition: all 1s ease;

    &:hover {
      color: $blue-li;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__info-comments {
    margin-right: 34px;
  }
}