.latest-news {
  padding: 112px 0 121px;
  background-color: #EFF1F5;

  @include r(680) {
    padding: 50px 0;
  }

  &__title {
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;

    @include r(1200) {
      flex-direction: column;
    }
  }

  &__item {
    max-width: calc(100% / 3 - 19px);
    position: relative;
    height: 475px;

    @include r(1200) {
      display: flex;
      width: 100%;
      height: auto;
      max-height: 230px;
      max-width: none;
      margin-bottom: 30px;
    }

    @include r(680) {
      flex-direction: column;
      max-height: none;
    }
  }

  &__item-img {
    margin-bottom: 23px;

    @include r(1200) {
      width: 360px;
      border-radius: 4px 0 0 4px;
    }

    @include r(960) {
      width: 250px;
    }

    @include r(680) {
      width: 100%;
    }
  }

  &__item-wrapper {
    height: 130px;
    margin-bottom: 30px;
    padding-right: 23px;
    padding-left: 29px;
    overflow: hidden;

    @include r(1200) {
      height: 155px;
      margin-bottom: 15px;
    }

    @include r(680) {
      height: 190px;
    }

    &:hover {
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
      width: 5px;
      right: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: $blue-li;
      right: 0;
    }
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 27px;

    @include r(1200) {
      margin-top: 20px;
    }

    @include r(960) {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  &__item-specs {
    height: 60px;
    font-size: 15px;
    color: #999999;
  }

  &__img-wrapper {
    position: relative;

    &:hover .latest-news__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 93px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;

    @include r(680) {
      top: 93px;
    }

    &--info {
      left: 45px;

      @include r(960) {
        top: 55px;
        left: 60px;
      }

      @include r(680) {
        left: 45px;
      }

      @include r(680) {
        left: 20px;
      }
    }

    &--demo {
      right: 42px;

      @include r(960) {
        top: 125px;
        right: auto;
        left: 60px;
      }

      @include r(680) {
        right: 42px;
        left: auto;
      }

      @include r(680) {
        right: 17px;
        left: auto;
      }
    }
  }

  &__item-specs {
    @include prod-specs;
    padding: 0 30px;
  }

  &__date,
  &__info {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-left: 1px solid #ECECEC;
  }

  .lnr-clock {
    color: $blue-li;
    margin-right: 8px;
  }

  &__info-comments,
  &__info-visits {
    color: #999999;
    transition: all 1s ease;

    &:hover {
      color: $blue-li;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      @include focus-vio;
    }

    &:active {
      @include active-black;
    }
  }

  &__info-comments {
    margin-right: 34px;
  }
}