.service {
  background-color: #FFFFFF;
  padding: 63px 0 62px;

  &__inner {
    display: flex;
  }

  &__item {
    width: 100%;
    text-align: center;

    &--guarantee {
      padding-right: 45px;
    }

    &--support {
      padding-right: 20px;
    }

    &:hover .service__item-img {
      transform: scale(1.3);
    }
  }

  &__item-img {
    width: 150px;
    height: 120px;
    margin: 0 auto 25px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 2s ease;
  }

  &__item-title {
    font-size: 24px;
    color: #000000;

    &--guarantee {
      color: $blue-li;
    }

    &--support {
      color: $vio;
    }
  }
}


@media (max-width: 840px) {
  .service {
    padding-top: 30px;
    padding-bottom: 20px;

    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      width: 50%;
      min-width: 300px;
      padding: 0;
      margin: 0 0 25px;
    }

    &__item-title {
      max-width: 250px;
      margin: 0 auto;
    }
  }

}